<!DOCTYPE html>
<html>
  <head>
    <title>Game Of Thrones Characters</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    <div class="banner" style="background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2013/12/23/203145/3f50339c45ec14d14d9fdac691f1698f.jpg);">
    </div>
    <div class="navigation">
      <a href="#houses">
        <i class="fas fa-chevron-down"></i>
      </a>
    </div>
    <%= yield %>
  </body>
</html>